.list-products {
    flex-grow: 8;
    margin-top: 25px;
    margin-left: 50px;

    .p-bold {
        font-weight: bold;
        font-size: 1.2em;
    }

    .p-grey {
        color: rgba(0, 0, 0, .5);
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .text-center {
        text-align: center;
    }

    .margin-b-10 {
        margin-bottom: 10px;
    }

    .icon {
        color: #ffffff;
        background: #06D6A0;
        border-radius: 12px;
        padding: 15px 10px 15px 15px;
        margin-top: 5px;
    }

    .input-pattern {
        margin-top: 10px;
        border-radius: 12px;
        padding: 15px 20px;
        border: none;
        background-color: #F8F8F8;
        max-width: 500px;
        //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
        &:focus {
            outline: none;
        }
    }

    .select-input {
        border-radius: 12px;
        background-color: #E5E5E5;
        border: none;
        padding: 15px 20px;
        margin-top: 10px;
        max-width: 200px;
        margin-right: 3vw;
    }

}